:root {
  /* ===== TIPOGRAFIA ===== */
  --font-titles: 'Roboto Slab', serif;
  --font-body: 'Open Sans', sans-serif;

  /* ===== TAMANOS DE FUENTES ===== */
  --font-size-title: 3.2rem;
  --font-size-subtitle: 2.4rem;
  --font-size-body: 1.6rem;
  --font-size-buttons: 1.8rem;
  --font-size-small: 1.4rem;
  --font-size-xsmall: 1.2rem;

  /* ===== PESOS DE FUENTES ===== */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  /* ===== COLORES ===== */
  --color-background: #f8f9fc;
  --color-primary: #2d3b55;
  --color-secondary: #4b6bfb;
  --color-text: #1a1b1f;
  --color-textSecondary: #6b7280;
  --color-accent: #00d4ff;
  --color-surface: #ffffff;
  --color-price:#020874;

  /*  estados de botones  */
  --color-button-hover: #4a77fb;
  --color-accent-hover: #1261f3;
  --color-accent-hover2: #f2c94c;

  /* ===== LAYOUT ===== */
  --header-height: 12rem;
  --footer-height: 15rem;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  font-family: var(--font-body);
}

/*  HEADER  */

header {
  height: var(--header-height);
  display: flex;
  justify-content: center;
  background-color: var(--color-primary);
}

nav {
  height: 100%;
  max-width: 130rem;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-logo {
  padding: 0.8rem;
  max-width: 12rem;
  height: auto;
  fill: var(--color-surface);
}
.menu {
  padding: 0.8rem 1rem;
}

.menu-list {
  display: flex;
  gap: 4rem;
  list-style: none;
  font-size: var(--font-size-subtitle);
  font-weight: var(--fw-regular);

  a {
    text-decoration: none;
    color: var(--color-surface);
    font-family: var(--font-titles);
  }

  a:hover {
    color: var(--color-secondary);
  }
}

.icons-container {
  display: flex;
  gap: 3.6rem;
  padding: 0.8rem 0.5rem;

  .iconify {
    font-size: var(--font-size-title);
    vertical-align: middle;
    color: var(--color-surface);

    &:hover {
      color: var(--color-secondary);
    }
  }
}

/*  BODY    */

main {
  flex-grow: 1;
}

/*  BANNER  */

.banner-container {
  width: 100%;
  height: 40rem;
  overflow: hidden;
}
.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*  CONTENIDO  */
.container-body {
  display: flex;
  justify-content: center;
}
.cards-container {
  width: 130rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: var(--color-surface);

    .card-title {
      font-size: var(--font-size-subtitle);
      font-weight: var(--fw-bold);
      color: var(--color-primary);
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
      max-width: 100%;
      text-overflow: ellipsis;
      white-space: normal;
      text-align: center;
    }

    .img-container {
      width: 20rem;
      height: 25rem;
      overflow: hidden;
      margin: 0 2rem 0 2rem;
      align-content: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .card-description {
      font-size: var(--font-size-xsmall);
      margin-bottom:3rem;

      a{
        color: var(--color-secondary);
        text-decoration: none;

        &:hover {
          color: var(--color-primary);
        }
      }
    }

    .card-price{
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 25rem;
      gap: 1rem;
      font-size: var(--font-size-subtitle);
      font-weight: var(--fw-semi-bold);

      p{
        color: var(--color-price);
        margin-bottom: 1.5rem;
      }

      button{
        color: var(--color-text);
        background-color: var(--color-secondary);
        border: 0.1rem solid var(--color-secondary);
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        font-size: var(--font-size-small);
        font-weight: var(--fw-semi-bold);
        cursor: pointer;
        margin-bottom: 1rem;

        &:hover{
          background-color: var(--color-button-hover);
          border: 0.1rem solid var(--color-button-hover);
        }
      }
    }
  }
}

/*  FOOTER  */

footer {
  margin-top: 2rem;
  height: 15rem;

  .footer-container {
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    margin-left: 2rem;

    .footer-social-icons {
      display: flex;
      gap: 1rem;
    }

    .iconify {
      font-size: var(--font-size-subtitle);
      color: var(--color-surface);

      &:hover {
        color: var(--color-secondary);
      }
    }
    .footer-copyright {
      color: var(--color-surface);
      font-size: var(--font-size-xsmall);
      font-weight: var(--fw-regular);
    }
  }
  .footer-menu-list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    list-style: none;
    font-size: var(--font-size-small);
    margin: 0.8rem;
    a {
      color: var(--color-surface);
      text-decoration: none;
    }
  }

  .footer-payments {
    margin-right: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    p {
      color: var(--color-surface);
      font-size: var(--font-size-small);
      font-weight: var(--fw-regular);
    }

    .footer-payments-icons {
      display: flex;
      gap: 1rem;

      .iconify {
        font-size: var(--font-size-subtitle);
        color: var(--color-surface);

        &:hover {
          color: var(--color-secondary);
        }
      }
    }
  }
}
/* PALETA DE COLORES:
color de fondo: #F5E6D3
color de titulos: #2B4570
color subtitulos: #A63D40
color de texto: #4A4A4A
color de los botones: #5E88FC
acento: #E9B44C
*/

/* OPCIONALES 
--spacing-xsmall: 0.4rem;
 --spacing-small: 0.8rem;
 --spacing-medium: 1.6rem;
 --spacing-large: 2.4rem;
 --spacing-xlarge: 3.2rem;

 --border-radius-sm:4px;
 --border-radius-md:8px;
 --border-radius-lg:16px;

 --shadow-sm: 0 1px 3px rgba(0,0,0,0.12);
 --shadow-md: 0 4px 6px rgba(0,0,0,0.1);
 --shadow-lg: 0 10px 15px rgba(0,0,0,0.1);

 --transition-fast: 0.2s ease;
 --transition-medium: 0.3s ease;
 --transition-slow: 0.5s ease;
*/
