.container-main {
  display: flex;
  gap: 2rem;
  max-width: 120rem;
  margin: 2.5rem auto;
  background-color: var(--color-background);

  .cards-container {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
}

aside {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  align-items: center;
  gap: 2rem;
  width: 35rem;
  margin-top: 2rem;
  background-color: var(--color-background);
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);

  input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }
}

.search-filter {
  margin-top: 2rem;
}

.search-filter,
.order-filter,
.price-filter,
.checkbox-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 80%;
}

.search,
.order,
.price,
.checkbox {
  font-size: var(--font-size-body);
}

.price-filter input {
  width: 50%;
}

.price-range {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.search-filter input,
.order-filter select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.checkbox-filter label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.container-checkbox {
  display: flex;
  gap: 0.5rem;
}

.pagination-container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.pagination-container .page {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px solid #ddd;
  transition: all 0.3s ease;
  font-size: var(--font-size-small);
}

.pagination-container .page.active {
  background: #4b6bfb80;
  color: var(--color-surface);
  border-color: #4b6bfb80;
}

.pagination-container .page:hover:not(.active) {
  background: var(--color-textSecondary);
}
